body {
    font-family: Arial, sans-serif;
    background-color: #e5ddd5;
    margin: 0;
}

.chat-container {
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.my-message {
    background-color: #dcf8c6; /* اللون الأخضر لرسالتك */
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    text-align: left;
}

.other-message {
    background-color: #fff; /* اللون الأبيض لرسالة الآخرين */
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    text-align: left;
}

input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
}

button {
    padding: 10px;
}
