/* الأساسيات */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* الرأس */
header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* التنقل */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* حاوية المحتوى */
.container {
    padding: 20px;
}

/* الأزرار */
.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

/* الجداول */
.stat-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stat-table th, .stat-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* التأثيرات */
.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* التأثيرات على الصور */
img {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

/* شريط التنقل */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
    padding-left: 15px;
    padding-right: 15px;
}


/* تذييل الصفحة */
footer {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}
/* تصميم زر التصويت */
.submit-button {
    padding: 12px 30px;
    background-color: #007BFF;  /* اللون الأزرق */
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;  /* زاوية دائرية */
    cursor: pointer;
    transition: background-color 0.3s ease; /* تأثير التغيير عند المرور بالماوس */
}

.submit-button:hover {
    background-color: #0056b3;  /* تغيير اللون عند مرور الماوس */
}
